<!DOCTYPE html>
<html>
    <head>
        <title>
            To-Do App
        </title>
        <meta charset="utf-8"  >
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="back">
            <header class="nav">
                <p class="task">Task</p>
                <p class="login">login</p>
                <p class="signup">Sign-up</p>
                <div class="circle"><p class="g">
                    G
                </p></div>
            </header>
